@model OnlineBusTicketing.Models.Departure
@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#DepartureDate').datetimepicker({
                defaultDate: '@Model.DepartureDate',
                format: 'll',
                showClose: true,
                showClear: true,
                toolbarPlacement: 'top'
            });
        });
    </script>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    <h4>Search</h4>
    <hr />
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.Label("From", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("from", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("To", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("to", null, new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.DepartureDate,
        htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DepartureDate,
           new
           {
               htmlAttributes = new
               {
                   @Value = Model.DepartureDate.ToString("MMM/dd/yyyy"),
                   @class = "form-control"
               },
           })
            @Html.ValidationMessageFor(model => model.DepartureDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    </div>
}
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FromCity.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToCity.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FromCity.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToCity.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.RouteId }) |
                @Html.ActionLink("Details", "Details", new { id=item.RouteId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.RouteId })
            </td>
        </tr>
    }

    </table>*@
